flutter/Flutter.xcframework/Info.plist
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Flutter
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/icudtl.dat
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Info.plist
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/_CodeSignature/CodeResources
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/Flutter.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterAppDelegate.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterBinaryMessenger.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterCallbackCache.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterChannels.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterCodecs.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterDartProject.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterEngine.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterEngineGroup.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterMacros.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPlatformViews.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPlugin.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterTexture.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Headers/FlutterViewController.h
flutter/Flutter.xcframework/ios-arm64_armv7/Flutter.framework/Modules/module.modulemap
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Flutter
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/icudtl.dat
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Info.plist
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/_CodeSignature/CodeResources
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/Flutter.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterAppDelegate.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterCallbackCache.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterChannels.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterCodecs.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterDartProject.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterEngine.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterEngineGroup.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterMacros.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPlatformViews.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPlugin.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterTexture.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Headers/FlutterViewController.h
flutter/Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Modules/module.modulemap
